version: 3

vars:
  NESTED_MODULES: api
  API_DIRS: '{{"{{"}}.ROOT_DIR{{"}}"}}/api/v1alpha1/...'
  MANIFEST_OUT: '{{"{{"}}.ROOT_DIR{{"}}"}}/api/crds/manifests'
  CODE_DIRS: '{{"{{"}}.ROOT_DIR{{"}}"}}/cmd/... {{"{{"}}.ROOT_DIR{{"}}"}}/internal/... {{"{{"}}.ROOT_DIR{{"}}"}}/api/v1alpha1/...'
  COMPONENTS: '{{.RepoName}}'
  REPO_NAME: 'https://{{.Module}}'

includes:
  shared:
    taskfile: hack/common/Taskfile_controller.yaml
    flatten: true

tasks:
  build:img:build-test:
    desc: "Build image for current platform and tag without suffix for testing"
    cmds:
      - task: build:img:build
      - docker tag ghcr.io/openmcp-project/images/{{"{{"}}.COMPONENTS{{"}}"}}:{{"{{"}}.VERSION{{"}}"}}-linux-{{"{{"}}ARCH{{"}}"}} ghcr.io/openmcp-project/images/{{"{{"}}.COMPONENTS{{"}}"}}:{{"{{"}}.VERSION{{"}}"}}
    vars:
      VERSION:
        sh: cat VERSION
      ARCH:
        sh: uname -m | sed 's/x86_64/amd64/;s/aarch64/arm64/'

  test-e2e:
    desc: "Build image and run e2e tests"
    cmds:
      - task: build:img:build-test
      - go test -v ./test/e2e/... -count=1